@model FisioterapiaUlatskawa.Models.PagosViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Detalles Pago</h2>

<hr/>

   
    <a href="@Url.Action("Index", "Pagos", new {pCedula = @Session["pCedula"] as string })" class="btn btn-danger  ">
        <i class="fa fa-plus-circle"></i> Atrás
    </a>



<div>


    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tipoPago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoPago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.banco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.banco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaPago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaPago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.notas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notas)
        </dd>

    </dl>
</div>

