@model FisioterapiaUlatskawa.Models.PagosViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar Pagos</h2>



<div>



    <a href="@Url.Action("Index", "Pagos", new {pCedula = @Session["pCedula"] as string })" class="btn btn-danger btn-full ">
        <i class="fa fa-arrow-alt-circle-left"></i> Atrás
    </a>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.idPago)
        @Html.HiddenFor(model => model.cedula)




        <div class="form-group">
            <div class="form-group">
                @Html.LabelFor(model => model.tipoPago, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.tipoPago, Model.ListaTipoPago, "-Seleccionar-", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.tipoPago, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.monto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.monto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.monto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.banco, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.banco, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.banco, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="display: none">
            @Html.LabelFor(model => model.cedula, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cedula, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cedula, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.notas, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.notas, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.notas, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-success" />
            </div>
        </div>
    </div>
}


<script type="text/javascript">

    $(document).ready(function () {

        $('#monto').on('input', function (event) {
            this.value = this.value.replace(/[^0-9]/g, '');
        });


        var data = '@TempData["ErrorMessage"]';

        if (data === "") {
            console.log("Empty string")
        } else {
            ErrorShowMessage(data);
        }

        var message = '@TempData["Message"]';

        console.log(message);

        if (message === "" || message == "") {
            console.log("Empty string")
        } else {
            SuccessShowMessage(message);
        }
    });


</script>
