@model FisioterapiaUlatskawa.DataModel.Expediente

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Expediente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fechaN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ciudad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ciudad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.canton)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.canton)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.distrito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.distrito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diagnostico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diagnostico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.antecedentes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.antecedentes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mediUtilizados)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mediUtilizados)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.anteQuirurgicos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.anteQuirurgicos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fracturas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fracturas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.anteFamiliares)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.anteFamiliares)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
