@model FisioterapiaUlatskawa.Models.ExpedientesViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Detalle Expediente</h2>

<a href="@Url.Action("Index", "Expedientes")" class="btn btn-danger btn-full ">
    <i class="fa fa-arrow-alt-circle-left"></i> Atrás
</a>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ciudad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ciudad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.canton)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.canton)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.distrito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.distrito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diagnostico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diagnostico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.antecendente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.antecendente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mediUtilizados)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mediUtilizados)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.anteQuirurgicos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.anteQuirurgicos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fracturas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fracturas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.anteFamiliares)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.anteFamiliares)
        </dd>

    </dl>
</div>

